/* .item{
    background-color: green;
    /* height:100px; */
/* } */
/* .item:nth-child(2){
    background-color: purple;
}
.item:nth-child(3){
    background-color: orange;
} */
.container{
    display:grid;   
    /* grid-template-columns: 2fr 1fr; */
    grid-template-columns: 100px 1fr 100px;
    grid-template-rows: 100px 200px 100px;

    grid-template-areas: 
    'header header header'
    'sidebar main ad'
    'footer footer footer'
    ;
    grid-row-gap:20px;
    grid-column-gap:10px;
    grid-gap:20px 10px;
    /* row column */

}
.header{
    grid-area: header;
    background-color: green;
    
}
.sidebar{
    grid-area:sidebar;
    background-color: blue;
}
.main{
    grid-area: main;
    background-color: orange;
}
.ad{
    grid-area: ad;
    background-color: grey;
}
.footer{
    grid-area: footer;
    background-color: black;
}